<main>
  <form action="/test-img" method="post" enctype="multipart/form-data">
    <label for="">Photo</label>
    <input type="file" name="imgUP" />
    <br />
    <label for="">Name</label>
    <input type="text" name="name" />
    <br />
    <button type="submit">Submit</button>
  </form>
</main>
