<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocBook || log In</title>
    <script src="https://kit.fontawesome.com/1ff1468ca7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="container">
        <section class="Log-in-box">

            <div class="log-in-title">
                <h1>Log In</h1>
                <i class="fas fa-user"></i>
            </div>

            <form class="log-in-form" action="">
                <div class="user-id">
                    <label for="user-email">Email :</label>
                    <input type="email" name="" id="user-email" placeholder="Enter Email">
                </div>
                <div class="user-pass">
                    <label for="user-email">Password :</label>
                    <input type="password" name="" id="user-pass" placeholder="Enter Password">
                </div>
                <div class="rem-forget">
                    <div class="rem-pass">
                        <input type="checkbox" name="" id="rem-pass">
                        <label for="rem-pass">Remember Password</label>
                    </div>
                    <div class="forget-pass">
                        <a href="#">Forget Password</a>
                    </div>
                </div>
                <button type="submit" class="btn log-btn">Log In</button>
            </form>
            
        </section>
    </main>
    
</body>
</html>