<main>
  <div class="verypaga">
    <h1>Your Email has been varified</h1>
    <img
      src="https://media0.giphy.com/media/PijzuUzUhm7hcWinGn/giphy.gif"
      alt=""
    />
    <h4>Please wait for some moment You will redirect to Log in page</h4>
  </div>
</main>
<script>
  window.setTimeout(function () {
    // Move to a new location or you can do something else
    window.location.href = "http://127.0.0.1:2050/user/log-in";
  }, 5000);
</script>
